/*popup css defautl*/
.chat-popup-bg {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,23,89,0.8);z-index: 99;}
.chat-popup {max-width: 500px;margin: 0 auto;background: url(/assets/images/chat-popup-bg.jpg) no-repeat center top;
box-shadow: rgba(94,94,94,0.5) 3px 4px 26px;padding: 30px 40px;border-radius: 5px; position: relative; min-height: 70vh;}
.close-icon {position: absolute;right: -10px;top: 0;background: #e72311;width: 22px;height: 22px;display: flex;justify-content: center;
border-radius: 100%;font-size: 14px;align-items: center;z-index: 999;}
.popup-profile {display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;}
.popup-profile-img {background: #4d597c;width: 120px;height: 120px;display: flex;margin: 0 30px 0 0;border-radius: 100%;display: flex;
align-items: center;justify-content: center;font-size: 60px;}
.popup-profile input {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    margin: 0 auto;
}
.loader-profile {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.chat-popup h2{
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	padding: 0 0 15px;
	margin: 0;
}
.profile-chat-list{height: calc(70vh - 160px);
    overflow-y: auto; margin: 10px 0;
}
/*End popup css defaut*/

.popup-profile .popup-profile-img {margin: 0 0 20px;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
}
.popup-profile .popup-profile-img img {
    border-radius: 100%;
    padding: 10px;
}

.chat-bg { background: url(/assets/images/chat-bg.jpg) no-repeat center center; background-size: auto;padding: 80px 20px 40px;background-size: cover;min-height: calc(100vh);}
.chat{max-width: 1065px;color: #fff;display: flex;padding: 0;background: url(/assets/images/chat-bg.jpg) no-repeat center center; position: relative;
    border-radius: 5px; overflow: hidden;margin: 40px auto 0;box-shadow: rgba(0,0,0,0.2) 0 0 8px; height: calc(100vh - 160px);}
.chat-side-bar {flex: 0 0 335px;padding: 0 15px 0 0;border-radius: 5px 0 0 5px;}

.profile-search {display: flex;width: 100%;position: relative;}
.profile-search::before {content: "\f002";font-family: "Font Awesome 5 Free";color: #4d4e54;font-weight: 900;z-index: 9;width: 36px;display: flex;
align-items: center;justify-content: center;position: absolute;left: 0;top: 0;height: 100%;}
.profile-search input {width: 100%;height: 41px;border-radius: 3px;background: #fff;border: 0;padding: 0 0 0 40px;}
.profile-search input[type="submit"] {position: absolute;left: 0;top: 0;width: auto;font-size: 0;background: none;border: 0;width: 36px;}
 
.alphabetic-chat-list {margin: 0 0 10px;border-bottom: #0f2563 solid 1px;}
.chat-list {display: flex;align-items: center;padding: 0 0 30px;}
.chat-list img {width: 50px;height: 50px;border-radius: 100%;object-fit: cover;margin: 0 15px 0 0;}
.alphabetic {font-size: 16px;color: #98a3be;padding: 0px 0 15px;display: flex;flex: 1;}
.chat-list p, .chat-list h3 {color: #fff;font-size: 16px;margin: 0;padding: 0;padding: 0 0 2px;}
.chat-list p {font-size: 12px;color: #9599ae;}

/*group chat */

.new-group-chat .popup-profile-img{margin: 20px auto;}
.new-group-chat-form {
	display: flex;
	flex-direction: column;
}
.new-group-chat-form input {
	width: 100%;
	height: 52px;
    padding: 10px 20px;
	margin: 20px 0 20px;
	border-radius: 5px;
	border: 0;
}

/*New Chat*/

.new-chat .profile-chat-list {
	padding: 20px;
}
 .new-chat .alphabetic-chat-list {
	margin: 0;
}
.new-chat .chat-list {
	padding: 15px 0;
}
.new-chat .alphabetic-chat-list {
	display: flex;
    padding-right: 25px;
	justify-content: space-between;
}
.new-chat .btn.red {width: 100%;}
.btn.red {position: relative;background: #913031;padding: 7px 50px 20px;z-index: 9;border-radius: 5px;font-size: 16px; }
.btn.red::before {content: "";background: #ed3910;width: 100%;height: 100%;position: absolute;top: -5px;left: 0;z-index: -2;border-radius: 5px;}
/*custom checkbox*/
.checkbox-custom {position: relative; padding: 15px 0 0;}
.checkbox-custom label{position: relative;}
.checkbox-custom input{position: absolute;z-index: 9;left: -20px;top: 28px;opacity: 0;width: 20px;height: 20px;}
.checkbox-custom input + label::before {content: "";background: #808bad;font-weight: 900;font-family: "Font Awesome 5 Free";
padding: 0 0 0 2px;width: 20px;height: 20px;line-height: 18px; border-radius: 3px;font-size: 14px; width: 18px; height: 18px; 
position: absolute; left: -19px;top: -3px;color: #042161;}
.checkbox-custom input:checked + label::before {content: "\f00c";background: red; font-weight: 900; font-family: "Font Awesome 5 Free";}
 


