<footer>
    <div>
        <div class="footer-logo" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"><img src="./assets/images/footer-logo-icon.png" /></div>
        <div class="footer-des" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            For more information about Titanium and its services, please send an email <a href="mailto:info@titaniumsecure.io">info@titaniumsecure.io</a>
        </div>
        <div class="footer-copyright" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">&copy; 2021 Titanium. All rights reserved.</div>
    </div>
</footer>